/* Typselektor för html. Ändrar bakgrundsfärgen med hexademal färg */
html {
	background-color: #cdc9c9;
}

/* Typselektor för body */
body {
	/* Skapar grid som möjliggör för trespaltslayout */
	display: grid;
	grid-template-columns: 2fr 2fr 6fr;
	grid-template-rows: auto;
	
	/* Ställer in hur body ska se ut, begränsar maxbredden, centrerar och ställer in så att inte body inte går ända upp till övre kanten. */
	max-width: 900px;
	margin: auto;
	margin-top: 20px;
	
	/* Skapar kant och gör bodyn rund */
	border: 3px solid black;
	border-radius: 5px;
	
	/* Gör bakgrundsfärgen vit och skapar en skugga bakom bodyn */
	background-color: white;
	box-shadow: 0 0 600px black;
}

/* Grupptypselektor för img, iframe, svg och video. Gör så att maxbredden är 100% av den tillgängliga ytan, vilket gör så att det alltid tar upp så mycket plats som möjligt, men att man aldrig ska behöva scrolla åt sidan. */
img, iframe, svg, video {
	max-width: 100%;
}

/* Grupptypselektor för header, nav, main och footer. Gör så att de har en 1px svart ram. */
header, nav, main, footer {
	border: 1px solid black;
}

/* Barnselektor för h1 första bokstav som ligger under header. Gör textstorleken till 2.5ex. */
header > h1::first-letter {
	font-size: 2.5ex;
}

/* Typselektor för header */
header {
	/* Ställer in vilken plats gridden ska ha */
	grid-column: 2 / 4;
	grid-row: 1;
	
	/* Lägger till padding så att texten inte ligger precis intill kanterna */
	padding: 20px;
	
	/* Ändrar font, centrerar texten, skapar skugga bakom texten, ändrar textstorleken och ändrar färgen på texten*/
	font-family: avara-bold, "Comic Sans MS", serif;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
	font-size: 1.2em;
	color: white;
}

/* Barnselektor för h1 under header. Roterar texten -4 grader. Gör så att texten får en transition till transform och att det ska ta 1 sekund. */
header > h1 {
	transform: rotate(-4deg);
	transition: transform 1s;
}

/* Transformerar h1 på sidan när man håller över h1 */
header > h1:hover {
	transform: rotate(356deg);
}

/* Typselektor för nav. Ställer in grid */
nav {
	grid-column: 1;
	grid-row: 1 / 4;
}

/* Angränsande syskonselektor för andra nav, alltså lokala menyn. Ställer in grid. */
nav + nav {
	grid-column: 2;
	grid-row: 2;
}

/* Typselektor för nav med jämnt nummer, alltså den globala menyn. Lägger till padding på toppen. */
nav:nth-child(even) {
	padding-top: 20px;
}

/* Barnselektor för li under ul under nav som används för både lokala och globala menyn. */
nav > ul > li {
	/* Stänger av list-style, centrerar texten och ändar fontstorlek. */
	list-style: none;
	text-align: center;
	font-size: 1.6em;
	
	/* Lägger till padding för att texten inte ska gå ända ut till kanterna*/
	padding: 4px;
} 

/* Ändrar färgen för länkar under li under ul under nav. Samma effekt på länken när den är besökt så att färgen inte ändras, på navigationslänkar ser det bättre ut om de ser likadana ut när de är obesökta och besökta. Alltså för länkar i globala och lokala menyn. */
nav > ul > li > a:link, nav > ul > li a:visited {
	color: rgb(0, 0, 0);
}

/* Barnselektor för länkna i länkarna i globala och lokala menyn. När man håller över den skapas border, skugga och skapar bakgrundsgradient. */
nav > ul > li:hover {
	border: 2px solid black;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 00px 0px 5px black;
	background-image: linear-gradient(180deg, white, gray);
}

/* Barnselektor för länkna i länkarna i globala och lokala menyn. Ändrar färg på texten när man håller över. */
nav > ul > li > a:hover {
	color: white;
}

/* Ändar färgen med på länkarna i globala och lokala menyn när man klickar på dem  */
nav > ul > li a:active {
	color: hsl(0, 100%, 50%);
}

/* Barnselektor för ul under nav. Stänger av margin och padding så att globala och lokala menyn inte är mer eller mindre åt något håll. */
nav > ul {
	margin: 0;
	padding: 0;
}

/* Typselektor för main. */
main {
	/* Ställer in grid */
	grid-column: 2 / 4;
	grid-row: 2;
	
	/* Ställer in padding */
	padding: 20px;
}

/* Angränsande syskonselektor för main när det ligger två nav innan. Ställer in grid */
nav + nav + main {
	grid-column: 3;
	grid-row: 2;
}

/* Gör så att det läggs en pil åt höger före varje länk i main */
main a::before {
	content: "► ";
}

/* Gör så att det läggs en pil åt vänster efter varje länk i main */
main a::after {
	content: " ◄";
}

/* Idselektor för en bild på en fotboll. Gör så att klassen visas som ett block för att inget annat ska komma brevid bilden. Begränsar maxbredden på bilden. Centrerar bilden med margin auto. Deklarerar animationens namn, gör att den tar 2,5 sekunder, gör att den pågår för evigt och att den ska gå lika snabbt hela tiden. */
#fotboll {
	display: block;
	max-height: 20rem;
	margin: auto;
	animation-name: spin;
	animation-duration: 2500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

/* Typselektor för alla länkar. Ställer in färgen för länkar */
a:link {
	color: darkblue;
}

/* Typselektor för alla länkar. Ställer in färgen för besökta länkar */
a:visited {
	color: lightblue;
}

/* Typselektor för alla länkar. Ställer in färgen för länkar som man håller musen över */
a:hover {
	color: purple;
}

/* Typselektor för alla länkar. Ställer in färgen för länkar som är aktiva. */
a:active {
	color: red;
}

/* Typselektor för iframe. Ställer in storleken för iframes. */
iframe {
	width: 560px;
	height: 315px; 
}

/* Id selektor för bilder. Skapar en grid och ställer in hur den ska se ut och gör så att det är mellanrum mellan bilderna. */
#bilder {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0.2rem;
}

/* Ställer in tabellen om mål per lag. Avkomling med klassen mal-per-lag för table, th, tr och td. Stänger av borderspacing, skapar border, lägger till padding, stänger av margin, maxbred på 100vw, table-layout på auto, stänger av borderspacing och sätter på border-collapse. */
.mal-per-lag table, .mal-per-lag th, .mal-per-lag td, .mal-per-lag {
	border-spacing: 0;
	border: 1px solid black;
	padding: 0.4em;
	margin: 0;
	max-width: 100vw;
	table-layout: auto;
	border-spacing: 0;
	border-collapse: collapse;
}

/* Skapar zebrastriping på tabellen om mål per lag */
.mal-per-lag tr:nth-child(even), .mal-per-lag thead {
	background-color: #f2f2f2;
}

/* Ändrar bakgrundsfärgen på den delen av sidan som man har valt att navigera till. */
:target {
	background-color: yellow;
}

/* Typselektor för footer. Ställer in grid och sätter på 20 px padding. */
footer {
	grid-column: 2 / 4;
	grid-row: 3;
	padding: 20px;
}

/* Lägger till fonten avara-bold. */
@font-face {
  font-family: avara-bold;
  src: url("https://fontlibrary.org/assets/fonts/avara/6b5edf3969ff9c68c8252ed4e75d7d29/6cad51f6f31859c1bc58560c476abd67/AvaraBold.ttf") format("truetype");
}

/* Skapar två keyframes där en är 0 grader (vilket är standard) och den andra är 360 grader vilket gör att bilden snurrar ett helt varv. */
@keyframes spin {
	from {
		transform:rotate(0deg);
	}
	to {
		transform:rotate(360deg);
	}
}

/* Ställer in csskoden till mobila enheter med en skärmbredd på mindre än 750 px. */
@media only screen and (max-width: 750px){
	
	/* Typselektor för html. Anpassar textstorleken för små skärmar */
	html {
		font-size: 1.4em;
	}
	
	/* Typselektor för body Ställer in grid och gör så att texten inte går från kant till kant. */
	body {
		grid-template-columns: 100%;
		grid-template-rows: auto;
		max-width: 95%;
	}
	
	/* Typselektor för header. Ställer in grid */
	header {
		grid-area: 1 / 1;
	}
	
	/* Typselektor för jämna nav, alltså globala menyn. Ställer in grid och stänger av padding på toppen. */
	nav:nth-child(even) {
		grid-area: 2 / 1;
		padding-top: 0px;
	}
	
	/* Angränsande syskonselektor för andra nav. Ställer in grid. */
	nav + nav {
		grid-area: 3 / 1;
	}
	
	/* Typselektor för main och angränsande syskonselektor för main när det ligger två nav innan. Ställer in grid. */
	main, nav + nav + main {
		grid-area: 4 / 1;
	}
	
	/* Idselektor för id:et bilder. Ställer in grid. */
	#bilder {
		grid-template-columns: 1fr;
	}
	
	/* Typselektor för footer. Ställer in grid. */
	footer {
		grid-area: 5 / 1;
	}
}
