/* Typselektor för html. Ändrar bakgrundsfärgen med hexademal färg */
html {
	background-color: #cdc9c9;
}

/* Typselektor för body. Skapar gridtemplate. Maxbredd på 900px. Centrerar automatiskt, lämnar 20px på toppen. 3px solid svart ram, rundar kanten med 5px. Bakgrundfärgen ska vara vit. Skapar skugga bakom. */
body {
	/* Skapar grid som möjliggör för trespaltslayout */
	display: grid;
	grid-template-columns: 2fr 2fr 6fr;
	grid-template-rows: auto;
	
	/*  */
	max-width: 900px;
	margin: auto;
	margin-top: 20px;
	
	/* Skapar kant och gör den rund */
	border: 3px solid black;
	border-radius: 5px;
	
	/* Gör bakgrundsfärgen vit och skapar en skugga bakom bodyn */
	background-color: white;
	box-shadow: 0 0 600px black;
}

/* grupptypselektor för img, table, iframe, svg och video. Gör så att maxbredden är 100% av den tillgängliga ytan, detta gör så att det alltid tar upp så mycket plats som möjligt medans det inte tar upp mer utrymme än vad som är möjligt så att man inte behöver scrolla åt sidan. */
img, table, iframe, svg, video {
	max-width: 100%;
}

/* Typselektor för header, nav, main och footer. Gör så att de har en 1px svart ram. */
header, nav, main, footer {
	border: 1px solid black;
}

/* Barnselektor för h1 första bokstav som ligger under header. Gör textstorleken till 2.5ex. */
header > h1::first-letter {
	font-size: 2.5ex;
}

/* Typselektor för header */
header {
	/* Ställer in vilken plats gridden ska ha */
	grid-column: 2 / 4;
	grid-row: 1;
	
	/* Ändrar font, centrerar text, skapar skugga bakom texten, ändrar textstorleken och ändrar färgen på texten */
	font-family: avara-bold, "Comic Sans MS", serif;
	text-align: center;
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
	font-size: 1.2em;
	color: white;
	
	/* Lägger till padding så att texten inte ligger precis intill kanterna */
	padding: 20px;
}

/* Barnselektor för h1 under header. Roterar texten -4 grader. Gör så att texten kan transformeras */
header > h1 {
	transform: rotate(-4deg);
	transition: transform 1s;
}
/*  */
header > h1:hover {
	transform: rotate(356deg);
}

/* Typselektor för nav. Ställer in grid, tar bort list stylee, ändrar fontstorlek. */
nav {
	grid-column: 1;
	grid-row: 1 / 4;
	list-style: none;
	font-size: 1.3em;
}

/* Typselektor för nav med jämnt nummer. Lägger till padding på toppen. */
nav:nth-child(even) {
	padding-top: 20px;
}

/* Syskonselektor för andra nav. Ställer in grid. */
nav + nav {
	grid-column: 2;
	grid-row: 2;
}

/* Barnselektor för li under ul under nav. Stänger av list-style, centrerar texten, ändar fontstorlek, lägger till padding. */
nav > ul > li {
	list-style: none;
	text-align: center;
	font-size: 1.2em;
	padding: 4px;
} 

/* Ändrar färgen för länk under li under ul under nav. */
nav > ul > li > a:link {
	color: rgb(0, 0, 0);
}

/* För länk när man håller över den under li under ul under nav. Skapar border, skugga, skapar bakgrundsgradient. */
nav > ul > li:hover {
	border: 2px solid black;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 00px 0px 5px black;
	background-image: linear-gradient(180deg, white, gray);
}

/* Ändrar färgen på linkar under li under ul under nav */
nav > ul > li > a:hover {
	color: white;
}

/* Ändar färgen med hsl på länkar som klickas på under  */
nav > ul > li a:active {
	color: hsl(0, 100%, 50%);
	
}

nav > ul > li a:visited {
	color: rgb(0, 0, 0);
}

/* Barnselektor för ul under nav. Stänger av margin och padding. */
nav > ul {
	margin: 0;
	padding: 0;
}

/* Gör så att det läggs ett större än tecken före varje länk i main */
main a::before {
	content: "► ";
}

/* Gör så att det läggs ett större än tecken efter varje länk i main */
main a::after {
	content: " ◄";
}

/* Typselektor för main. Ställer in grid och padding. */
main {
	grid-column: 2 / 4;
	grid-row: 2;
	padding: 20px;
}

/* Ställer in färgen för länkar */
a:link {
	color: darkblue;
}

/* Ställer in färgen för besökta länkar */
a:visited {
	color: lightblue;
}

/* Ställer in färgen för länkar som man håller musen över */
a:hover {
	color: purple;
}

/* Ställer in färgen för länkar som är aktiva. */
a:active {
	color: red;
}

iframe {
	width: 560px;
	height: 315px; 
}


/* Id selektor för bilder. Skapar en grid och ställer in gridtemplate, gör så att det är 0.2 em mellanrum mellan griddarna. */
#bilder {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0.2em;
}

/* Id selektor för sportlag. Ställer in grid */
#sportlag {
	grid-column: 3;
	grid-row: 2;
}

/* avkomling med klassen mal-per-lag för table, th, tr och td. Skapar borderspacing, border, padding, stänger av margin, maxbred på 100vh, table-layout på auto. */
.mal-per-lag table, .mal-per-lag th, .mal-per-lag tr, .mal-per-lag td {
	border-spacing: 0px 1rem;
	border: 1px solid black;
	padding: 0.4em;*/
	margin: 0;
	max-width: 100vh;
	table-layout: auto;
}

/*avkomlingselektor på table. Sätter på border collapse.*/
.mal-per-lag > table {	
	border-collapse: collapse;
	border-spacing: 0;
	border: 1px solid red;
}

/* Skapar zebrastriping på tabellen om mål per lag */
.mal-per-lag tr:nth-child(even), .mal-per-lag thead {
  background-color: #f2f2f2;
}

/* Ändrar bakgrundsfärgen på den delen av sidan som man har valt att navigera till. */
:target {
  background-color: yellow;
}

.soderstaidion p:target::before {
  font: 70% sans-serif;
  content: "►";
  color: limegreen;
  margin-right: .25em;
}

/* Typselektor för footer. Ställer in grid och sätter på 20 px padding. */
footer {
	grid-column: 2 / 4;
	grid-row: 3;
	padding: 20px;
}

/* Lägger till fonten avara-bold. */
@font-face {
  font-family: avara-bold;
  src: url("https://fontlibrary.org/assets/fonts/avara/6b5edf3969ff9c68c8252ed4e75d7d29/6cad51f6f31859c1bc58560c476abd67/AvaraBold.ttf") format("truetype");
}

/* Ställer in csskoden till mobila enheter med en skärmbredd på mindre än 750 px. */
@media only screen and (max-width: 750px){
	
	/* Typselektor för html. Anpassar storleken för små skärmar */
	html {
		font-size: 1.4em;
	}
	
	/* Typselektor för body Ställer in grid och gör så att texten inte går från kant till kant. */
	body {
		grid-template-columns: 100%;
		grid-template-rows: auto;
		max-width: 95%;
	}
	
	/* Typselektor för header. Ställer in grid */
	header {
		grid-area: 1 / 1;
	}
	
	/* Typselektor för jämna nav. Ställer in grid och stänger av padding på toppen. */
	nav:nth-child(even) {
		grid-area: 2 / 1;
		padding-top: 0px;
	}
	
	/* Syskonselektor för andra nav. Ställer in grid. */
	nav + nav {
		grid-area: 3 / 1;
	}
	
	/* selektor för idet sportlag och main. Ställer in grid. */
	#sportlag, main {
		grid-area: 4 / 1;
	}
	
	/* Selektor för idet bilder. Ställer in grid. */
	#bilder {
		grid-template-columns: 1fr;
	}
	
	/* Typselektor för footer. Ställer in grid. */
	footer {
		grid-area: 5 / 1;
	}
}