html {
	background-color: lightgray;
}
body {
	display: grid;
	grid-template-columns: 2fr 2fr 6fr;
	grid-template-rows: auto;
	max-width: 1000px;
	margin: auto;
	margin-top: 20px;
	border: 3px solid black;
	border-radius: 5px;
	background-color: white;
	box-shadow: 0 0 600px black;
}

header, nav, main, footer {
	border: 1px solid black;
	/*border-radius: 5px;*/
}

header {
	/*grid-area: 1 / 2;*/
	grid-column: 2 / 4;
	grid-row: 1;
	text-align: center;
	padding: 20px;
	font-size: 1.2em;
	color: white;
	text-shadow: 1px 1px 2px black, 0 0 1em blue, 0 0 0.2em darkblue;
	font-family: consolas;
}
nav {
	grid-column: 1;
	grid-row: 1 / 4;
	list-style: none;
	font-size: 1.3em;
}

nav:nth-child(even) {
	/*background-image: linear-gradient(black, gray);*/
	padding-top: 20px;
}

nav:nth-child(odd) {
	grid-column: 2;
	grid-row: 2;
}

nav > ul > li {
	/*outline: 2px black solid;*/
	list-style: none;
	text-align: center;
	font-size: 1.2em;
	padding: 4px;
	link-style: none;
} 

nav > ul > li > a {
	text-decoration: none;
}

nav > ul > li > a:link {
	color: black;
}

nav > ul > li:hover {
	outline: 2px solid black;
	text-shadow: 2px 2px 4px #000000;
	box-shadow: 00px 0px 5px black;
	background-image: linear-gradient(180deg, white, gray);
	color: white;
}

nav > ul > li > a:hover {
	color: white;
}

nav > ul > li a:active {
	color: gray;
	
}

nav > ul > li:active {
	background-image: linear-gradient(180deg, white, gray);
}

nav > ul {
	margin: 0;
	padding: 0;
	
}

main {
	/*grid-area: 2 / 2;*/
	grid-column: 2 / 4;
	grid-row: 2;
	padding: 20px;
}
#sportlag {
	grid-column: 3;
	grid-row: 2;
}
footer {
	/*grid-area: 3 / 2;*/
	grid-column: 2 / 4;
	grid-row: 3;
	padding: 20px;
}